---
import Layout from '../layouts/Layout.astro';
import Donation from '../components/Donation.astro';
import KeyHint from '../components/KeyHint.astro'
import { UserCount } from '../components/UserCount.tsx';
import Verification from '../components/Verification/Verification.astro';
import Welcome from '../components/Welcome.astro';

import config from '../../site.config'

const { host, costsMonthly, donationLNUrl, verificationDisabled} = config
---

<Layout title={`Welcome to ${host}`}>
	<main>
		<Welcome host={host} />
		<Verification disabled={verificationDisabled} host={host} />
		<KeyHint />
		<UserCount client:load />
		<Donation lnUrl={donationLNUrl} costsMonthly={costsMonthly} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
