---
import Layout from '../layouts/Layout.astro';
import Donation from '../components/Donation.astro';
import KeyHint from '../components/KeyHint.astro'
import { UserCount } from '../components/UserCount.tsx';
import Verification from '../components/Verification/Verification.astro';
import Welcome from '../components/Welcome.astro';

// set this to your domain name
const host = "nostr.industries"

// set this to your monthly costs
const costsMonthly = "$4 USD"

// set this to your donation LNURL
const donationLNUrl = "LNURL1DP68GURN8GHJ7MR9VAJKUEPWD3HXY6T5WVHXXMMD9AKXUATJD3CZ7JMPVDV9YCC4FVREX"

// set this to true to disable verification site-wide
const disabled = true
---

<Layout title={`Welcome to ${host}`}>
	<main>
		<Welcome host={host} />
		<Verification disabled={disabled} host={host} />
		<KeyHint />
		<UserCount client:load />
		<Donation lnUrl={donationLNUrl} costsMonthly={costsMonthly} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
