---
import Layout from '../layouts/Layout.astro';
import DarkModeToggle from '../components/DarkModeToggle.astro';
import Donation from '../components/Donation.astro';
import { UserCount } from '../components/UserCount.tsx';
import Registration from '../components/Registration/Registration.astro';
import Welcome from '../components/Welcome.astro';
import Footer from '../components/Footer.astro';

import config from '../../site.config'

const {
	host,
	costsMonthly,
	donationLNUrl,
	registrationDisabled,
	slogan
} = config
---

<Layout title={`Welcome to ${host}`}>
	<main>
		<div class="dark-mode-toggle-container">
      <DarkModeToggle />
    </div>
		<Welcome host={host} slogan={slogan} />
		<Registration disabled={registrationDisabled} host={host} />
		<UserCount client:load />
		<Donation lnUrl={donationLNUrl} costsMonthly={costsMonthly} />
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

  .dark-mode-toggle-container {
    display: flex;
    height: 28px;
    justify-content: flex-end;
		margin-bottom: 2rem;
  }

</style>
