---
import Layout from '../layouts/Layout.astro';
import Donation from '../components/Donation.astro';
import KeyHint from '../components/KeyHint.astro'
import { UserCount } from '../components/UserCount.tsx';
import Verification from '../components/Verification/Verification.astro';
import Welcome from '../components/Welcome.astro';

// set this to your domain name
const host = "nostr.industries"

// set this to true to disable verification site-wide
const disabled = false
---

<Layout title={`Welcome to ${host}`}>
	<main>
		<Welcome host={host} />
		<Verification disabled={disabled} host={host} />
		<KeyHint />
		<UserCount host={host} client:load />
		<Donation />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
